:root {
    /* --bg_color: teal; */
    --bg_color: rgb(35, 49, 58);
    /* --primary_color: darkslategrey; */
    /* --primary_color: #3f3f3f; */
    --primary_color:  rgb(35, 49, 58);
    --secondary_color: #212325;
    /* --tertiary_color: #ff9900; */
    /* --tertiary_color: #f29636; */
    --tertiary_color: #da4242;
    --text_color: white;
}

* {
    font-family: "Quicksand", sans-serif;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    min-width: 510px;
    min-height: 510px;
}

#main_display {
    background-color: var(--primary_color);
    /* background-image: url("imgs/center_images/1602608434583.jpg"); */
    width: 97vw;
    height: 97vw;
    min-width: 370px;
    min-height: 370px;
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* border: 4px var(--tertiary_color) solid; */
    border: 4px linear-gradient(to right, red, yellow) solid;
    box-shadow:  6px 6px 4px #000000;
    z-index: 0;
}

@media ((max-width: 500px) or (max-height: 500px)) {
    #main_display {
        max-width: 97vh;
        max-height: 97vh;
    }
}

#header {
    width: 100%;
    height: 3.5%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow:  0px 2px 2px #000000;
    padding-top: .5%;
}

#tab_switcher {
    float: left;
    /* background-color: aquamarine; */
    width: 100px;
    height: 100%;
}

#time, #date {
    /* background-color: chartreuse; */
    color: var(--tertiary_color);
    width: 100px;
    height: 100%;
    float: right;
    text-align: center;
}

#date {
    width: 130px;
    margin-right: 10px;
}

#pg1_footer {
    /* background-color: blanchedalmond; */
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 10px;
    right: 0%;
}

#search_options {
    float: left;
    height: 100%;
    width: 20%;
}

#search_bar {
    background-color: black;
    color: var(--tertiary_color);
    float: right;
    box-sizing: border-box;
    height: 100%;
    width: 70%;
    border: 2px var(--primary_color) solid;
    padding: 2px;
    margin-right: 5px;
    padding-left: 5px;
}

#weather {
    /* background-color: goldenrod; */
    color: var(--tertiary_color);
    float: left;
    margin-left: 10px;
    width: 140px;
    height: 100%;
}

#temperature {
    float: left;
    width: 35px;
    height: 20px;
    text-align: center;
}

.marquee {
    float: right;
    width: 100px;
    height: 100%;
    overflow: hidden;
    text-overflow: clip;
    position: relative;
    /* background: #fefefe; */
    /* color: #333; */
    /* border: 1px solid #4a4a4a; */
}

.marquee p {
    position: absolute;
    top: 1px;
    white-space: nowrap;
    /* width: 240px; */
    height: 100%;
    margin: 0;
    line-height: 100%;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* -moz-animation: scroll-left 2s linear infinite paused;
    -webkit-animation: scroll-left 2s linear infinite paused;
    animation: scroll-left 20s linear infinite paused; */
}

.paused {
    -moz-animation: scroll-left 2s linear infinite paused;
    -webkit-animation: scroll-left 2s linear infinite paused;
    animation: scroll-left 7s linear infinite paused;
}

.running {
    -moz-animation: scroll-left 2s linear infinite running;
    -webkit-animation: scroll-left 2s linear infinite running;
    animation: scroll-left 7s linear infinite running;
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(0%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.small_ico {
    box-sizing: border-box;
    float: left;
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    height: 100%;
    filter: grayscale(1);
    margin: 2px;
    border: var(--secondary_color) 2px solid;
    background-color: var(--tertiary_color);
}

.small_ico:hover {
    filter: grayscale(0);
    transition: 200ms;
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 25px;
    background-color: var(--secondary_color);
    /* margin: 2px; */
    margin-right: 2px;
    float: left;
}

.circle:first-child {
    margin-left: 5px;
}

.circle:hover {
    background-color: var(--primary_color);
    transition: 0.1s
}

.main_bg {
    background-image: url("imgs/bg.JPG");
}

.background {
    /* default background color */
    background-color: var(--bg_color);

    position: absolute;
    left: 0px;
    top: 0px;

    width: 100%;
    height: 100%;
    z-index: -1;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table:first-child {
    margin-left: 20px;
}

table:last-child {
    margin-right: 20px;
}

th {
    text-decoration: underline;  
    color: var(--tertiary_color);
    text-align: left;
    font-size: 27px;
    padding-bottom: 2px;
}

td {
    color: var(--text_color);
    font-size: 17px;
    padding-bottom: 1px;
}

#tables {
    display: flex;
    justify-content: space-between;
}

.column {
    margin-top: 10px;
    width: 33%;
}

.column:first-child {
    margin-left: 20px;
}

.column:last-child {
    margin-right: 20px;
}

.column > p {
    text-decoration: none;
    color: var(--text_color);
    font-size: 12pt;
    float: left;
}

p:hover {
    cursor: pointer;
}

.column > .header {
    color: var(--tertiary_color);
    text-align: left;
    font-size: 27px;
    font-weight: bold;
}
