:root {
    --bg-tertiary: #da4242;
}

#full-bg {
    background: url("imgs/room-bg.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#center-window {
    width: 550px;
    height: 550px;
    box-shadow: 5px 5px 5px black;
}

#window-header {
    background-color: #000000;
    border-top: solid 1px #da4242;
    border-bottom: solid 1px #da4242;
}

@media (max-width: 576px) {
    #center-window {
        width: 100vw;
        height: 100%;
        margin-bottom: 15%;
        padding-bottom: 2%;
    }

    #discord-widget {
        width: 100%;
    }

    #search-bar-container {
        max-width: 100%;
    }
}

@media (max-height: 520px) {
    #center-window {
        width: 100vw;
    }

    #discord-widget {
        width: 100%;
    }
}

.nav-item > a.nav-link {
    color: #a2a2a2;
}

.nav-item > a.nav-link {
    outline:0;
}

.nav-item > a.nav-link:hover {
    color: #ffffff;
}

.nav-item > a.nav-link.active {
    color: #ffffff;
}

a.list-group-item.link-elem {
    background-color: var(--bg-dark);
    outline: none;
}

a.list-group-item.link-elem:hover {
    background-color: var(--bg-tertiary);
}

a.list-group-item.link-elem:focus {
    color: var(--bg-tertiary);
}

.bg-tertiary {
    background-color: var(--bg-tertiary) !important;
}

#center-window > div.tab-content {
    height: 90%;
}

.img-thumb {
    width: 35px;
}

.bg-discord {
    background-color: #7289da;
}

#time {
    cursor: pointer;
}

#search-bar-container {
    width: 576px;
}

#tab-settings-control > * {
    /* color:rgb(131, 131, 131) */
    filter: brightness(0.5);
    transition: 150ms;
}

#tab-settings-control:hover > * {
    transition: 150ms;
    filter: brightness(1.2);
}

#tab-settings-control.active > *, #tab-settings-control:hover > * {
    filter: brightness(1.0);
    color:var(--bg-tertiary);
    transition: 150ms;
}

.meridianStr {
    font-size:x-small;
}

#dev-console {
    background-color: #253728;
    overflow-y: scroll;
    scrollbar-width: thin;
}

#twitch-container {
    scrollbar-width: none;
}

.streamer-card.list-group-item {
    background-color: var(--bg-dark);
    outline: none;
    border-bottom: 1px solid white;
    transition: border-left 0.15s ease;
    -moz-transition: border-left 0.15s ease; /* Firefox */
}

.streamer-card.list-group-item:hover {
    background-color: transparent;
    border-left: 9px solid var(--bg-tertiary);
    transition: all 0.15s ease;
}

#uploadLaunchLinksInpt {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}